# Jekyll
_site
.sass-cache
.jekyll-cache
.jekyll-metadata

# Bundler
vendor/
.bundle/
Gemfile.lock

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor files
*~
*.swp
*.swo
.vscode/

# Dependencies
node_modules/